<h1>Show Invoice</h1>

<ul>

  <li>
    <strong>Amount:</strong>
    <%= @invoice.amount %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @invoice.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.invoice_path(@conn, :edit, @invoice) %></span>
<span><%= link "Back", to: Routes.invoice_path(@conn, :index) %></span>
