<h1>Tunnistaudu</h1>

<ul>
<%= for idp <- @identity_providers["identityProviders"] do %>
  <li>
    <%= img_tag(idp["imageUrl"], style: "max-width: 150px") %>
    <%= link(idp["name"], to: Routes.strong_authentication_path(@conn, :create, idp: idp["ftn_idp_id"], context: @context), method: :post) %>
  </li>
<% end %>
</ul>
